[[source]]

url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
pyquery = "*"
peewee = "*"
logbook = "*"
"psycopg2" = "*"
arrow = "*"
jieba = "*"
pandas = "*"
matplotlib = "*"
fire = "*"


[dev-packages]

